In [1]:
filename = 'data/Runs and Rides.xlsx'
df = pd.read_excel(filename)

NameError: name 'pd' is not defined

In [ ]:
df

In [2]:
import pandas as pd

In [3]:
filename = 'data/Runs and Rides.xlsx'
df = pd.read_excel(filename)

In [4]:
df

,type,start_date,distance,moving_time,elevation_gain,suffer_score,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,NaN,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,NaN,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,NaN,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,NaN,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,NaN,43.724308
...,...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,NaN,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,NaN,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,NaN,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,NaN,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,NaN,0.000000

In [5]:
df

,type,start_date,distance,moving_time,elevation_gain,suffer_score,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,NaN,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,NaN,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,NaN,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,NaN,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,NaN,43.724308
...,...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,NaN,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,NaN,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,NaN,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,NaN,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,NaN,0.000000

In [6]:
filename = 'data/Runs and Rides.xlsx'
df = pd.read_excel(filename)
df

,type,start_date,distance,moving_time,elevation_gain,suffer_score,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,NaN,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,NaN,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,NaN,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,NaN,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,NaN,43.724308
...,...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,NaN,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,NaN,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,NaN,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,NaN,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,NaN,0.000000

In [7]:
filename = 'data/Runs and Rides.xlsx'
df = pd.read_excel(filename)

In [8]:
df

,type,start_date,distance,moving_time,elevation_gain,suffer_score,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,NaN,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,NaN,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,NaN,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,NaN,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,NaN,43.724308
...,...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,NaN,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,NaN,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,NaN,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,NaN,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,NaN,0.000000

In [9]:
filename = 'data/Runs and Rides.xlsx'
df = pd.read_excel(filename)

In [10]:
df

,type,start_date,distance,moving_time,elevation_gain,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000

In [11]:
df.head(20)

,type,start_date,distance,moving_time,elevation_gain,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
5,Run,"Tue, 10/27/2020",1.07,08:02:00,22,165.662521
6,Run,"Tue, 10/27/2020",1.01,07:11:00,13,156.122849
7,Run,"Mon, 10/26/2020",1.11,11:07:00,25,171.761826
8,Run,"Sun, 10/25/2020",1.17,14:15:00,0,180.319885
9,Run,"Fri, 10/23/2020",1.75,20:00:00,0,268.402252
10,Run,"Thu, 10/22/2020",2.50,1900-01-01 01:00:00,0,383.432831
11,Run,"Mon, 10/19/2020",0.75,07:41:00,22,117.592468
12,Run,"Sat, 10/17/2020",19.40,03:01:38,317,2987.605469
13,Run,"Fri, 10/16/2020",4.78,1900-01-01 19:30:00,142,738.891296
14,Run,"Thu, 10/15/2020",2.25,22:00:00,0,345.088867
15,Run,"Wed, 10/14/2020",0.68,06:52:00,21,106.775757
16,Run,"Tue, 10/13/2020",2.22,22:41:00,50,342.704041
17,Run,"Thu, 10/8/2020",0.90,08:00:00,0,138.034637
18,Run,"Tue, 10/6/2020",3.11,1900-01-01 06:00:00,0,476.989502
19,Run,"Mon, 10/5/2020",0.00,1s,0,0.857713

In [12]:
df.dtypes

type               object
start_date         object
distance          float64
moving_time        object
elevation_gain      int64
calories          float64
dtype: object

In [13]:
df.shape

(182, 6)

In [14]:
df.info

<bound method DataFrame.info of     type       start_date  distance          moving_time  elevation_gain  \
0    Run   Wed, 12/9/2020     31.08             06:37:50             594
1    Run   Thu, 11/5/2020      2.20             21:53:00              45
2    Run   Wed, 11/4/2020      1.10             11:17:00              25
3    Run  Wed, 10/28/2020      1.18             09:02:00              25
4    Run  Tue, 10/27/2020      0.28             01:47:00               0
..   ...              ...       ...                  ...             ...
177  Run    Thu, 5/7/2020      4.02  1900-01-01 05:51:00             125
178  Run   Tue, 4/28/2020      1.15             06:55:00               0
179  Run   Fri, 4/24/2020      0.52             04:24:00               0
180  Run   Wed, 4/22/2020      1.95             19:27:00              50
181  Run   Mon, 4/20/2020      2.17             15:00:00               0

        calories
0    4790.407227
1     339.854095
2     170.246307
3     182.578537
4      43.724308
..           ...
177   619.975708
178   176.965729
179    80.253563
180     0.000000
181     0.000000

[182 rows x 6 columns]>

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            182 non-null    object
 1   start_date      182 non-null    object
 2   distance        182 non-null    float64
 3   moving_time     182 non-null    object
 4   elevation_gain  182 non-null    int64
 5   calories        182 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.7+ KB

In [16]:
df[['type']].head()

  type
0  Run
1  Run
2  Run
3  Run
4  Run

In [18]:
df[['calories', 'distance']].head(5)

      calories  distance
0  4790.407227     31.08
1   339.854095      2.20
2   170.246307      1.10
3   182.578537      1.18
4    43.724308      0.28

In [21]:
df['calories'][3:11]

3     182.578537
4      43.724308
5     165.662521
6     156.122849
7     171.761826
8     180.319885
9     268.402252
10    383.432831
Name: calories, dtype: float64

In [22]:
df.loc[:,'calories'].head()

0    4790.407227
1     339.854095
2     170.246307
3     182.578537
4      43.724308
Name: calories, dtype: float64

In [23]:
df.loc[[:,'calories']].head()

SyntaxError: invalid syntax (<ipython-input-23-a319f4ac5ed7>, line 1)

In [24]:
df.loc[:,['calories']].head()

      calories
0  4790.407227
1   339.854095
2   170.246307
3   182.578537
4    43.724308

In [25]:
df['type'].value_counts()

Run    182
Name: type, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            182 non-null    object
 1   start_date      182 non-null    object
 2   distance        182 non-null    float64
 3   moving_time     182 non-null    object
 4   elevation_gain  182 non-null    int64
 5   calories        182 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.7+ KB

In [27]:
df['distance'].value_counts()

1.00     8
1.01     6
0.75     4
2.26     4
0.71     3
        ..
1.45     1
1.32     1
4.78     1
13.17    1
0.88     1
Name: distance, Length: 129, dtype: int64

In [28]:
df['distance'].value_counts() > 5

1.00      True
1.01      True
0.75     False
2.26     False
0.71     False
         ...
1.45     False
1.32     False
4.78     False
13.17    False
0.88     False
Name: distance, Length: 129, dtype: bool

In [29]:
df['distance'].value_counts.head()

AttributeError: 'function' object has no attribute 'head'

In [30]:
df.head()

  type       start_date  distance moving_time  elevation_gain     calories
0  Run   Wed, 12/9/2020     31.08    06:37:50             594  4790.407227
1  Run   Thu, 11/5/2020      2.20    21:53:00              45   339.854095
2  Run   Wed, 11/4/2020      1.10    11:17:00              25   170.246307
3  Run  Wed, 10/28/2020      1.18    09:02:00              25   182.578537
4  Run  Tue, 10/27/2020      0.28    01:47:00               0    43.724308

In [31]:
df['distance'].head()

0    31.08
1     2.20
2     1.10
3     1.18
4     0.28
Name: distance, dtype: float64

In [32]:
df['distance'].value_counts()

1.00     8
1.01     6
0.75     4
2.26     4
0.71     3
        ..
1.45     1
1.32     1
4.78     1
13.17    1
0.88     1
Name: distance, Length: 129, dtype: int64

In [33]:
df.loc[distance]

NameError: name 'distance' is not defined

In [34]:
df.loc[distance:,]

NameError: name 'distance' is not defined

In [35]:
halfy_filter = df['distance'] >= 13

In [36]:
halfy_filter.head()

NameError: name 'halfy_filter' is not defined

In [37]:
halfy_filter = df['distance'] >= 13
print(halfy_filter)

0       True
1      False
2      False
3      False
4      False
       ...
177    False
178    False
179    False
180    False
181    False
Name: distance, Length: 182, dtype: bool

In [38]:
halfy_filter.head()

0     True
1    False
2    False
3    False
4    False
Name: distance, dtype: bool

In [39]:
halfy_filter.tail()

177    False
178    False
179    False
180    False
181    False
Name: distance, dtype: bool

In [40]:
df[halfy_filter].head()

    type       start_date  distance moving_time  elevation_gain     calories
0    Run   Wed, 12/9/2020     31.08    06:37:50             594  4790.407227
12   Run  Sat, 10/17/2020     19.40    03:01:38             317  2987.605469
84   Run   Fri, 5/29/2020     13.17    02:09:59             301  2028.363403
136  Run   Sun, 9/27/2020     13.10    01:53:41             352  2020.057373
165  Run   Sun, 10/6/2019     14.30    02:17:36             234     0.000000

In [41]:
df.loc[halfy_filter, :]

    type       start_date  distance moving_time  elevation_gain     calories
0    Run   Wed, 12/9/2020     31.08    06:37:50             594  4790.407227
12   Run  Sat, 10/17/2020     19.40    03:01:38             317  2987.605469
84   Run   Fri, 5/29/2020     13.17    02:09:59             301  2028.363403
136  Run   Sun, 9/27/2020     13.10    01:53:41             352  2020.057373
165  Run   Sun, 10/6/2019     14.30    02:17:36             234     0.000000

In [42]:
time_filter = df['moving_time'] >= '02:00:00'

TypeError: '>=' not supported between instances of 'datetime.time' and 'str'

In [43]:
time_filter = df['moving_time'] > '02:00:00'

TypeError: '>' not supported between instances of 'datetime.time' and 'str'

In [44]:
df = df.rename(columns={'type':'Type', 'calories': 'Calories'})

In [45]:
df

,Type,start_date,distance,moving_time,elevation_gain,Calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000

In [46]:
df['calories'].sum()

KeyError: 'calories'

In [47]:
df['Calories'].sum()

62238.02576577656

In [48]:
cal_burned = Int(df['Calories'].sum())

NameError: name 'Int' is not defined

In [49]:
df

,Type,start_date,distance,moving_time,elevation_gain,Calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            182 non-null    object
 1   start_date      182 non-null    object
 2   distance        182 non-null    float64
 3   moving_time     182 non-null    object
 4   elevation_gain  182 non-null    int64
 5   Calories        182 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 8.7+ KB

In [51]:
df.to_excel(excel_writer='data/table_i702t60.xlsx', index=False)

In [1]:
df.info()

NameError: name 'df' is not defined

In [2]:
filename = 'data/Runs and Rides.xlsx'
df = pd.read_excel(filename)
df

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

In [4]:
filename = 'data/Runs and Rides.xlsx'
df = pd.read_excel(filename)

In [5]:
df

,type,start_date,distance,moving_time,elevation_gain,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000

## Creating Data
My runs on strava 23-weeks away from Marathon

In [6]:
# Approach 1 List

runStats = [
    
    # if start time is before 12 am ... 'name = Morning Run : Afternoon, Evening'
    
    [132, 'Morning Run', 'Wed, 9/18/2019', 199, '46:33', '1:00:00', 800, 2989],
    [133, 'Morning Run', 'Wed, 9/18/2019', 199, '46:33', '1:00:00', 800, 2989],
    [134, 'Morning Run', 'Wed, 9/18/2019', 199, '46:33', '1:00:00', 800, 2989],
    [135, 'Morning Run', 'Wed, 9/18/2019', 199, '46:33', '1:00:00', 800, 2989],
    [136, 'Morning Run', 'Wed, 9/18/2019', 199, '46:33', '1:00:00', 800, 2989]
    
]

colNames = ['id',
           'name',
           'start_date',
           'start_time',
           'distance',
           'moving_time',
           'elapsed_time',
           'elevation',
           'calories']

In [8]:
df = pd.DataFrame(data = runStats, columns = colNames)

ValueError: 9 columns passed, passed data had 8 columns

In [9]:
df

,type,start_date,distance,moving_time,elevation_gain,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000

In [10]:
df

,type,start_date,distance,moving_time,elevation_gain,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000

In [11]:
df['start_date']

0       Wed, 12/9/2020
1       Thu, 11/5/2020
2       Wed, 11/4/2020
3      Wed, 10/28/2020
4      Tue, 10/27/2020
            ...
177      Thu, 5/7/2020
178     Tue, 4/28/2020
179     Fri, 4/24/2020
180     Wed, 4/22/2020
181     Mon, 4/20/2020
Name: start_date, Length: 182, dtype: object

In [12]:
df[:, 'start_date']

TypeError: '(slice(None, None, None), 'start_date')' is an invalid key

In [13]:
df['start_date'].head(20)

0      Wed, 12/9/2020
1      Thu, 11/5/2020
2      Wed, 11/4/2020
3     Wed, 10/28/2020
4     Tue, 10/27/2020
5     Tue, 10/27/2020
6     Tue, 10/27/2020
7     Mon, 10/26/2020
8     Sun, 10/25/2020
9     Fri, 10/23/2020
10    Thu, 10/22/2020
11    Mon, 10/19/2020
12    Sat, 10/17/2020
13    Fri, 10/16/2020
14    Thu, 10/15/2020
15    Wed, 10/14/2020
16    Tue, 10/13/2020
17     Thu, 10/8/2020
18     Tue, 10/6/2020
19     Mon, 10/5/2020
Name: start_date, dtype: object

In [14]:
df[:,'start_date']

TypeError: '(slice(None, None, None), 'start_date')' is an invalid key

In [15]:
df.loc[:, ['start_date']]

          start_date
0     Wed, 12/9/2020
1     Thu, 11/5/2020
2     Wed, 11/4/2020
3    Wed, 10/28/2020
4    Tue, 10/27/2020
..               ...
177    Thu, 5/7/2020
178   Tue, 4/28/2020
179   Fri, 4/24/2020
180   Wed, 4/22/2020
181   Mon, 4/20/2020

[182 rows x 1 columns]

In [16]:
df.loc[0:50, ['start_date']]

         start_date
0    Wed, 12/9/2020
1    Thu, 11/5/2020
2    Wed, 11/4/2020
3   Wed, 10/28/2020
4   Tue, 10/27/2020
5   Tue, 10/27/2020
6   Tue, 10/27/2020
7   Mon, 10/26/2020
8   Sun, 10/25/2020
9   Fri, 10/23/2020
10  Thu, 10/22/2020
11  Mon, 10/19/2020
12  Sat, 10/17/2020
13  Fri, 10/16/2020
14  Thu, 10/15/2020
15  Wed, 10/14/2020
16  Tue, 10/13/2020
17   Thu, 10/8/2020
18   Tue, 10/6/2020
19   Mon, 10/5/2020
20    Fri, 9/4/2020
21    Wed, 9/2/2020
22    Tue, 9/1/2020
23   Mon, 8/31/2020
24   Sun, 8/30/2020
25   Thu, 8/27/2020
26   Mon, 8/24/2020
27   Sun, 8/23/2020
28   Fri, 8/21/2020
29   Wed, 8/19/2020
30   Tue, 8/18/2020
31   Mon, 8/17/2020
32    Thu, 8/6/2020
33    Mon, 8/3/2020
34    Sat, 8/1/2020
35   Fri, 7/31/2020
36   Thu, 7/30/2020
37   Wed, 7/29/2020
38   Tue, 7/28/2020
39   Mon, 7/27/2020
40    Sun, 3/8/2020
41    Fri, 3/5/2021
42    Thu, 3/4/2021
43    Tue, 3/2/2021
44    Mon, 3/1/2021
45    Mon, 3/1/2021
46    Mon, 3/1/2021
47   Tue, 2/23/2021
48   Wed, 2/10/2021
49    Tue, 2/9/2021
50    Tue, 2/9/2021

In [17]:
df.loc[50:100, ['start_date']]

         start_date
50    Tue, 2/9/2021
51    Sun, 2/7/2021
52    Sat, 2/6/2021
53    Thu, 2/4/2021
54    Thu, 2/4/2021
55    Thu, 2/4/2021
56    Tue, 2/2/2021
57    Tue, 2/2/2021
58    Mon, 2/1/2021
59   Thu, 1/28/2021
60   Thu, 1/28/2021
61   Sat, 5/29/2021
62   Wed, 5/12/2021
63    Thu, 5/6/2021
64   Tue, 4/27/2021
65   Sat, 4/24/2021
66   Thu, 4/22/2021
67   Tue, 4/20/2021
68   Mon, 4/19/2021
69   Thu, 4/15/2021
70   Tue, 4/13/2021
71    Tue, 4/6/2021
72   Thu, 3/18/2021
73   Tue, 3/16/2021
74   Tue, 3/16/2021
75   Sun, 3/14/2021
76   Sat, 3/13/2021
77   Thu, 3/11/2021
78   Thu, 3/11/2021
79   Thu, 3/11/2021
80   Thu, 3/11/2021
81    Thu, 6/4/2020
82    Wed, 6/3/2020
83    Mon, 6/1/2020
84   Fri, 5/29/2020
85   Thu, 5/28/2020
86   Thu, 5/28/2020
87   Wed, 5/27/2020
88   Tue, 5/26/2020
89   Thu, 5/21/2020
90   Mon, 7/27/2020
91   Sun, 7/26/2020
92   Sat, 7/25/2020
93   Thu, 7/16/2020
94    Sat, 7/4/2020
95   Fri, 6/26/2020
96   Thu, 6/25/2020
97   Tue, 6/23/2020
98   Sat, 6/20/2020
99   Sat, 6/20/2020
100  Wed, 6/17/2020

In [19]:
df.loc[100:150, ['start_date']]

          start_date
100   Wed, 6/17/2020
101   Tue, 6/16/2020
102   Sun, 6/14/2020
103   Sat, 6/13/2020
104   Fri, 6/12/2020
105   Thu, 6/11/2020
106   Wed, 6/10/2020
107   Wed, 6/10/2020
108    Tue, 6/9/2020
109    Tue, 6/9/2020
110   Wed, 1/27/2021
111   Tue, 1/26/2021
112   Tue, 1/26/2021
113   Mon, 1/25/2021
114   Thu, 1/21/2021
115   Wed, 1/20/2021
116   Wed, 1/20/2021
117   Tue, 1/19/2021
118   Mon, 1/18/2021
119   Fri, 1/15/2021
120   Thu, 1/14/2021
121   Wed, 1/13/2021
122    Fri, 1/8/2021
123    Thu, 1/7/2021
124    Wed, 1/6/2021
125    Tue, 1/5/2021
126    Mon, 1/4/2021
127    Sun, 1/3/2021
128    Sat, 1/2/2021
129  Wed, 12/30/2020
130   Sun, 10/4/2020
131   Sat, 10/3/2020
132   Fri, 10/2/2020
133   Thu, 10/1/2020
134   Tue, 9/29/2020
135   Mon, 9/28/2020
136   Sun, 9/27/2020
137   Fri, 9/25/2020
138   Thu, 9/24/2020
139   Thu, 9/24/2020
140   Wed, 9/23/2020
141   Tue, 9/22/2020
142   Mon, 9/21/2020
143   Sun, 9/20/2020
144   Sat, 9/19/2020
145   Thu, 9/17/2020
146   Wed, 9/16/2020
147   Tue, 9/15/2020
148   Fri, 9/11/2020
149   Thu, 9/10/2020
150   Tue, 9/10/2019

In [20]:
df.loc[150:, ['start_date']]

          start_date
150   Tue, 9/10/2019
151   Mon, 8/26/2019
152    Thu, 4/9/2020
153    Tue, 4/7/2020
154    Sun, 4/5/2020
155    Fri, 4/3/2020
156    Thu, 4/2/2020
157   Tue, 3/31/2020
158   Mon, 3/30/2020
159   Mon, 3/30/2020
160  Sun, 11/10/2019
161  Thu, 10/24/2019
162  Wed, 10/23/2019
163  Sun, 10/20/2019
164  Fri, 10/11/2019
165   Sun, 10/6/2019
166   Thu, 10/3/2019
167   Tue, 9/24/2019
168   Sun, 9/22/2019
169   Wed, 9/18/2019
170   Thu, 9/12/2019
171   Tue, 5/19/2020
172   Mon, 5/18/2020
173   Thu, 5/14/2020
174   Tue, 5/12/2020
175   Mon, 5/11/2020
176   Sun, 5/10/2020
177    Thu, 5/7/2020
178   Tue, 4/28/2020
179   Fri, 4/24/2020
180   Wed, 4/22/2020
181   Mon, 4/20/2020

In [21]:
df

,type,start_date,distance,moving_time,elevation_gain,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000

In [22]:
print(filename)

data/Runs and Rides.xlsx

In [23]:
filename = 'data/running_data.xlsx'

In [24]:
df

,type,start_date,distance,moving_time,elevation_gain,calories
0,Run,"Wed, 12/9/2020",31.08,06:37:50,594,4790.407227
1,Run,"Thu, 11/5/2020",2.20,21:53:00,45,339.854095
2,Run,"Wed, 11/4/2020",1.10,11:17:00,25,170.246307
3,Run,"Wed, 10/28/2020",1.18,09:02:00,25,182.578537
4,Run,"Tue, 10/27/2020",0.28,01:47:00,0,43.724308
...,...,...,...,...,...,...
177,Run,"Thu, 5/7/2020",4.02,1900-01-01 05:51:00,125,619.975708
178,Run,"Tue, 4/28/2020",1.15,06:55:00,0,176.965729
179,Run,"Fri, 4/24/2020",0.52,04:24:00,0,80.253563
180,Run,"Wed, 4/22/2020",1.95,19:27:00,50,0.000000
181,Run,"Mon, 4/20/2020",2.17,15:00:00,0,0.000000